IRRD==4.2.0
TRYTOND==4.0.0
PROTEUS==5.0.0
NICOTINEPLUS==3.0.3
KEYSTONE==15.0.0
TWISTED==2.1.0
SCRAPY==2.0.0
OSLOUTILS==4.9.0
ANSIBLE==1.9.5
TENSORFLOWGPU==1.12.0
TENSORFLOW==1.5.0
TENSORFLOWCPU==1.12.0
PLONEAPPCONTENTTYPES==3.0.0
IPYTHON==7.17.0
PIPENV==2018.10.9
MISTUNE==2.0.0
IPA==4.7.0
INVENIORDMRECORDS==0.33.0
INVENIODRAFTSRESOURCES==0.14.0
CKAN==2.7.0
CLOUDTOKEN==0.1.1
NANOPB==0.3.9
WIKI==0.0.20
CALIBREWEB==0.6.12
NBDIME==2.0.0
SALT==2017.7.0
RUCIOWEBUI==1.26.0
QUTEBROWSER==0.1.1
NAMEKO==3.0.0
OPENCVPYTHONHEADLESS==4.0.0
OPENCVCONTRIBPYTHONHEADLESS==4.0.0
OPENCVCONTRIBPYTHON==4.0.0
OPENCVPYTHON==4.0.0
PILLOW==2.5.0
APACHEAIRFLOW==1.6.0
NEUTRON==12.0.0
OCTAVIA==0.10.0
NBGITPULLER==0.9.0
FREEIPA==4.7.0
NOTEBOOK==6.0.0
ONEFUZZ==2.12.0
JUPYTERLAB==3.1.0
VYPER==0.2.13
SHUUP==1.6.0
NOVA==18.0.0
AWSENCRYPTIONSDKCLI==2.0.0
AWSENCRYPTIONSDK==2.0.0
EVENTLET==0.10.0
CHECKOV==2.0.0
SICKRAGE==9.3.54
FLASKSECURITYTOO==3.3.0
PIKEPDF==1.3.0
URLLIB3==1.25.2
BOTFRAMEWORKCONNECTOR==4.10.0
MATRIXSYNAPSE==0.99.0
CHANNELS==3.0.0
MARKDOWN2==1.0.1
TLSLITENG==0.8.0
OAUTHENTICATOR==0.6.0
ALERTASERVER==8.0.0
BLACKDUCK==0.0.25
BLAZARDASHBOARD==2.0.0
DJANGOCMS==3.4.0
IPSILON==0.1.0
WAGTAIL==1.9.0
INDYNODE==1.12.2
CINDER==15.0.0
DJANGO==1.9.0
ZOPE2==2.13.2
FASTAPI==0.36.0
PYLINT==1.1.0
PYTHONKEYSTONECLIENT==0.2.3
TORTOISEORM==0.16.0
WEBARGS==6.0.0
FRAPPE==11.0.0
DRFJWT==1.15.0
PSDTOOLS==1.8.37
MANILA==8.0.0
WAITRESS==1.4.2
APACHESUPERSET==0.34.0
TUF==0.7.2
GUNICORN==20.0.0
VALIDATORS==0.12.2
INDICO==2.2.0
DJANGOCRM==0.2.1
PYARROW==0.14.0
KOJI==1.15.0
AUBIO==0.4.0
RPYC==4.1.0
INVENIOAPP==1.1.0
INVENIORECORDS==1.1.0
PARAMIKO==1.18.0
LADON==0.6.1
OSBSCLIENT==0.4.6
BUILDBOT==0.7.6
RADICALE==2.0.0
TRYTON==5.0.0
PYSPARK==2.3.0
LUIGI==2.3.3
MARSHMALLOW==3.0.0
KINTODIST==6.0.0
CRYPTOGRAPHY==1.9.0
CFSCRAPE==1.6.6
KOTTI==2.0.0
DJANGOEPICEDITOR==0.2.3
BLEACH==2.1.0
MOIN==1.9.3
BORGBACKUP==1.1.0
PYTHONCJSON==1.0.0
PYANYAPI==0.6.1
CONFIRE==0.2.0
PRODUCTSPORTALTRANSFORMS==1.6.1
DULWICH==0.9.9
DJANGORESTFRAMEWORK==2.4.0
SUPERVISOR==3.1.0
PYTHONGNUPG==0.3.5
APACHELIBCLOUD==0.4.1
SLEEKXMPP==1.3.1
OPENPYXL==1.1.0
CELERY==2.4.0
BOTTLE==0.10.1
SENTRY==6.4.0
FLASKOIDC==0.1.2
CARAVEL==0.8.2
PLONE==4.0.9
MURANODASHBOARD==2014.0.0
MERCURIAL==2.7.0
MODWSGI==4.1.0
ACCESSCONTROL==3.0.5
TRIPLEOHEATTEMPLATES==0.8.9
CHERRYMUSIC==0.30.0
BSON==0.3.5
PYGMENTS==1.2.2
TLSLITE==0.4.0
FABRIC==1.1.0
ASKBOT==0.6.0
COMET==1.1.0
DJANGOMARKUPFIELD==1.3.2
KEYSTONEMIDDLEWARE==1.0.0
REQUESTS==1.2.3
RESTKIT==4.2.2
DOCKERPY==0.5.3
BIRDHOUSEBUILDERRECIPENGINX==0.1.2
AJENTI==0.9.29
DJBLETS==0.8.2
SOAPPY==0.12.5
EYED3==0.6.18
LOGILABCOMMON==0.38.1
JINJA2==2.7.2
PYWBEM==0.7.0
REVIEWBOARD==1.6.18
GRAPHITEWEB==0.9.5
RESTAUTH==0.6.1
RPC4DJANGO==0.1.8
TWILIO==3.0.0
ASPEN==0.9.18
FACEBOOKSDK==0.3.0
FEEDPARSER==5.1.2
KEYRING==0.9.2
CLEARSILVER==0.10.5
DJANGOTASTYPIE==0.9.10
